body {
  font-family: Arial;
  font-size: 25px;
  background-image: url("./Panda.jpg");
  display: contents;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:center;
  display: block;
  color: rgb(254, 254, 254);
}

a {
  color: #fefaff;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #fefdff;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #1c0313;
  border-radius: 5px;
  padding: 2px 10px;
  color: rgb(46, 217, 239);
  font-style:bold;
  font-size:25px;
  border: ;
  
}

button:hover {
  background-color: #ffffff;
  font-size: 35px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 8px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f80285;
  font-size: 10px;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
  font-size: 15px;
}

.scores {
  position: absolute;
  color: rgb(242, 4, 143);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top: 10px;
  left: 10px;
  font-size: 15pxs;
}

.feedback {
  font-style: italic;
  font-style: bold;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: rgba(255, 103, 2, 0.858);
  border-top: 2px solid rgb(159, 199, 49);
}

.timer {
  position: absolute;
  top: 20px;
  right: 20px;
}
